<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="p-2">
    <h1 class="font-bold mb-2"><i class="fa-solid fa-user-plus"></i> 메인</h1>

    <table style="margin-bottom: 50px;">
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="postDto : ${postsDto.content}">
            <td th:text="${postDto.id}"></td>
            <td>
                <a th:href="@{/post/{id}(id=${postDto.id})}"
                   th:text="${postDto.title}"></a>
            </td>
            <td th:text="${postDto.author}"></td>
            <td th:text="${#temporals.format(postDto.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>